<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/937ceff5-a76b-4400-8b89-1ab4ce674a48/resourceGroups/Blazar-Academy/providers/Microsoft.Web/sites/MathOps</ResourceId>
    <ResourceGroup>Blazar-Academy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://mathops.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://mathops.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$MathOps</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>